langchain
python-dotenv
pandas
ipykernel
langchain_groq
langchain_community
pypdf
faiss-cpu
langchain_google_genai
langchain_huggingface
langchain_openai
structlog
PyMuPDF
langchain-core[tracing]
pytest
streamlit
-e .
